@import url(app.css);

.modal {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 99vh;
  background-color: rgba(0, 0, 0, 0.322);
  z-index: 3;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  background-color: var(--black-color);
  position: relative;
}

.nav-profile-modal {
  width: 450px;
}

.group-modal-width {
  width: 450px;
}

.modal__content .btn {
  font-size: 0.9rem;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.5rem;
  color: var(--secondary-color);
  cursor: pointer;
}
